@model MovieViewModel

@{
    ViewBag.Title = $"Фильм {Model.Name}";
}

<div class="row">
    <div class="col-md-2">
        <img class="w-100" src="~/images/movie-poster.jpg" alt="Movie poster"/>
        <a class="d-block rounded-link mt-2 text-center" href="#">
            <span>
                Трейлер
            </span>
        </a>
    </div>
    <div class="col-md-7">
        
    </div>
    <div class="col-md-3">
        
    </div>
</div>