#main-container {
    min-height: calc(100vh - 6rem);
}

a, a:hover, a:visited { text-decoration: none; }

.bg-dark {
    background-color: #333 !important;
}

.navbar-dark {
    color: #D8D7D7;
}

#main-footer {
    color: #D8D7D7;
    font-weight: bold;
    align-content: center;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
}

.movie-poster { height: 45rem; }

.rounded-link {
    border-radius: 2rem;
    background-color: #008080;
    color: #FFFFFF;
    height: 3rem;
    line-height: 3rem;
    font-weight: bold;
}

.rounded-link:hover { color: #C0392B; }

.rounded-link span {
    line-height: 3rem;
    height: 3rem;
    padding-left: 2rem;
    background-image: url("../images/trailer-icon.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 1.6rem;
}

.rounded-link:hover span { background-image: url("../images/trailer-icon-hover.svg"); }

.mw-8rem {
    min-width: 8rem;
}

.movie-like-dislike, #comment-numbers {
    color: #ffffff;
    font-weight: bold;
}

#like span, #dislike span, #comment-numbers span {
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.6rem;
    cursor: pointer;
}

#like span {
    background-color: #008744;
    background-image: url('../images/like.svg');
}

#like:hover span {
    background-color: #006c36;
}

#dislike span {
    background-color: #d62d20;
    background-image: url('../images/dislike.svg');
}

#dislike:hover span {
    background-color: #ab2419;
}

#comment-numbers {
    margin-right: 0 !important;
}

#comment-numbers span {
    background-color: #0057e7;
    background-image: url('../images/comment-icon.svg');
}

#comment-numbers:hover span {
    background-color: #0045b8;
}

#no-comments {
    height: 15rem;
}

#no-comments span {
    font-size: 2rem;
    font-weight: bold;
    line-height: 15rem;
    color: #615C5C;
}

#no-comments img {
    height: 5rem;
}

#movie-session-title {
    color: #008744;
    font-size: 1.5rem;
}

#movie-session {
    cursor: pointer;
    font-weight: bold;
}

#movie-session-cinema-name {
    color: #333333;
}

#movie-session-cinema-name:hover {
    color: #ab2419;
}

#movie-session-time {
    color: #d62d20;
    margin-bottom: -0.5rem;
    font-size: 1.2rem;
}

#movie-session-time:hover {
    color: #333333;
}

#movie-session-format {
    color: #333333;
    font-size: 0.8rem;
    font-style: oblique;
    font-weight: normal;
}

#close-modal-btn {
    font-weight: bold;
    background-color: #d62d20;
}

#close-modal-btn:hover {
    cursor: pointer;
    background-color: #ab2419;
}

#genre-block {
    color: #333333;
    font-weight: bold;
}

#genre-block:hover {
    color: #ab2419;
}

#genre-block img {
    transition: 0.5s linear;
}

#genre-block:hover img {
    max-width: calc(100% - 10%);
    opacity: 0.5;
}

#top-genre-block {
    height: 30rem;
    background: url('../images/tv.png'), url('../images/genre-poster.jpg') center/cover no-repeat;
    color: #ffffff;
    line-height: 30rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

#top-genre-block h1, #top-cinemas-block h1 {
    font-size: 4rem;
}

#top-genre-block h1 span {
    font-size: 2rem;
}

#movie-in-genre-block {
    color: #333333;
    font-weight: bold;
}

#movie-in-genre-block:hover {
    color: #ab2419;
}

#movie-in-genre-block img {
    transition: 0.5s linear;
}

#movie-in-genre-block:hover img {
    opacity: 0.5;
}

#top-cinemas-block {
    height: 30rem;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 30rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

#cinema-small-info {
    min-width: 30rem;
}

#cinema-small-info a {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
}

#cinema-small-info:hover a {
    color: #ab2419;
}

#cinema-small-info a sup {
    font-size: 1rem;
    font-weight: normal;
    top: -1rem;
}

#cinema-small-image {
    border-radius: 5%;
    transition: 0.5s;
}

#cinema-small-image:hover {
    opacity: 0.5;
}

#cinema-address {
    font-weight: bold;
}

#username-block a {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

#username-block:hover a {
    color: #ab2419;
}

#nav-in-profile li {
    margin: 0.5rem;
    cursor: pointer;
}

#nav-in-profile li a {
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
}

#nav-in-profile li:hover a {
    color: #ab2419;
    font-size: 0.8rem;
}

dt#edit-movie-button a {
    background-color: #006c36;
}

dt#edit-movie-button a span {
    background-image: url("../images/edit-icon.svg");
    background-size: 1.3rem;
}

dt#delete-movie-button a {
    background-color: #d62d20;
}

dt#delete-movie-button a span {
    background-image: url("../images/delete-icon.svg");
    background-size: 1.3rem;
}

dt#delete-movie-button a:hover span, dt#edit-movie-button a:hover span {
    color: #333333;
}

.bold {
    font-weight: bold;
}