@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Caminul Nr. 1<br />
    str. Studentilor 1<br />
    <abbr title="Phone">P:</abbr>
    69000000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@cinema.com">Support@cinema.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@cinema.com">Marketing@cinema.com</a>
</address>
